<%= form_with model: @article do |form|%>
  <div>
    <%= form.text_field :title, placeholder: "Article Title", id: "article_title_field" %>
    <%= form.rich_text_area :body, id: "article_body_field" %>
  </div>
  <div>
    <%= form.submit "Post Article"%>
  </div>
<% end %>