
a, button, input[type="submit"] {
  border: none;
  background: var(--naples-yellow);
  color: white;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0.5rem;
}

a:hover, button:hover, input[type="submit"]:hover {
  cursor: pointer;
  background: var(--sandy-brown);
  color: white;
}


